.containerCourse {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

#tableCourse {
  border: solid 1px black;
  width: 100%;
  border-collapse: collapse;
}

#tableCourse th,
#tableCourse tr {
  font-weight: bold;
  text-align: center;
}

#tableCourse th,
#tableCourse td {
    border: solid 1px black;
}

#tableCourse th:first-child,
#tableCourse td:first-child {
    border: solid 1px black;
}

#empty {
    border: solid 1px black;
    text-align: center;
    font-weight: bold;
    width: 100%;
}